<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BASE_DATA.Properties.Settings.Project_organization_1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Project organization 1.mdb&quot;;User ID=ADMIN"
            providerName="System.Data.OleDb" />
        <add name="BASE_DATA.Properties.Settings.ProjectOrganizationConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\ruban\Desktop\ProjectOrganization.mdb;User ID=ADMIN"
            providerName="System.Data.OleDb" />
        <add name="BASE_DATA.Properties.Settings.Project_organization_1ConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Users\ruban\source\repos\Data Base by Andrey Ru\Project organization_1.mdb&quot;;User ID=ADMIN"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>